.login {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  z-index: 1;
  background: radial-gradient(rgb(129, 214, 243), rgb(182, 186, 197));
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    padding: 20px;
    width: 500px;

    h1 {
      // padding-bottom: 50px;
      text-align: center;
      color:white ;
      font-weight: 600 ;
      font-size: 60px !important;
    }

    div {
      text-align: right;

      input {
        margin-bottom: 5px !important;
      }
    }
  }
}

.logoheaderLogin{
    color:red;
    font-size: 120px !important;
}