.menubar{
    list-style:none; 
    display: block;
    width: 190px;
    background-color: white;
    box-shadow: 5px 5px rgb(143, 143, 187), -5px -5px rgb(110, 110, 150), -7px -7px white, 7px 7px white;
    border-radius: 0px 25px 5px 25px;
    }


.menubar li{
    position:relative; 
    }

.menubar li a:hover{
        background:#333; 
        color:#fff; 
        -moz-box-shadow:0 3px 10px 0 #CCC; 
        -webkit-box-shadow:0 3px 10px 0 #ccc; 
        text-shadow:0px 0px 5px #fff; 
        }
    
.menubar li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}
        

.menubar li  ul{
top:25px; 
left:0;
background: rgb(228, 224, 224);
display:none;

}   

.menubar li ul li{
    border:2px solid #c0c0c0; 
    display:block; 
    }

/* Tratar margem do Menu */
.menubar > li{
    margin: 10px 0 10px 0; 
}

/* Tratar a Label de Cabeçalho do Menu */
.menubar > li > label{
    display: block; /*Faz com que o cabeçalho do menu ocupe todo menu*/
    background: linear-gradient(rgb(129, 214, 243), rgb(41, 125, 158));
    padding: 10px;
    color:white;
    border-radius: 0px 28px 5px 28px;
} 

/*Retirar caixa de marcação da checkbox*/
.menubar > li > input, ul.submenu {
    display: none;
  }

/*Exibir Submenu quando clicado em um item do Menu*/
 .menubar > li > input:checked~ul.submenu {
    display: block;
    /* border: 3px solid red; */
    padding: 5px 0 5px 0;
    /* background: rgb(228, 224, 224); */
    
  } 


  @media (max-width:600px ) {
    .menubar{
        list-style:none; 
        display: flex;
        width: 100%;
        background-color: white;
        box-shadow: 5px 5px rgb(143, 143, 187), -5px -5px rgb(110, 110, 150), -7px -7px white, 7px 7px white;
        border-radius: 0px 25px 5px 25px;
        }
    
}

