.ModeloBotoesGrid{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}

.headerConta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.headerTable{
    justify-content: center;
    align-items: center;
    width: 100%;
}


table {
    // font-family: fantasy !important;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .table { 
    width: 100%;
    margin-bottom: 20px;
  }
  
  .table th,
  .table td {
    font-weight: normal;
    font-size: 12px;
    padding: 2px 8px !important;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    // border-top: 1px solid #dddddd;
    border-top: 1px solid #00BFFF	 !important;

  }
  .table thead th {
    // background: #eeeeee;
    background: radial-gradient(rgb(129, 214, 243), rgb(182, 186, 197)) !important;
    vertical-align: bottom;
  }   
  // .table tbody > tr:nth-child(odd) > td,
  .table tbody > tr:nth-child(odd) > td,
  .table tbody > tr:nth-child(odd) > th {
    // background-color: #fafafa;
    background-color:white !important;
  }    
  .table .t-small {
    width: 5%;
  }
  .table .t-medium {
    width: 15%;
  }
  .table .t-status {
    font-weight: bold;
  }
  .table .t-active {
    color: #46a546;
  }
  .table .t-inactive {
    color: #e00300;
  }
  .table .t-draft {
    color: #f89406;
  }
  .table .t-scheduled {
    color: #049cdb;
  }
  
  /* Small Sizes */
  @media (max-width: 327px) { 
    .table-action thead {
      display: none;
    }
    .table-action tr {
      border-bottom: 1px solid #dddddd;
    }
    .table-action td {
      border: 0;
    }
    .table-action td:not(:first-child) {
      display: block;
    }
  }