
.ant-btn {
     margin: 0 !important; 
}

.cabecalho{
    // background: radial-gradient(rgb(129, 214, 243), rgb(146, 159, 196));
    background: radial-gradient(rgb(129, 214, 243), rgb(182, 186, 197));
    height: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between !important;
    border:1px solid white;
    h1{
        color:white ;
        font-weight: 600 ;
        font-size: 40px !important;
    }
}


.logoheader2{
    color:red;
    font-size: 70px !important;
}

  @media (max-width: 900px) { 
.ant-layout-header {
    // height: 64px;
    padding: 5px !important;
    // line-height: 64px;
    // background: #001529;
}
  }

