
.form-personalize{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
}

.form-personalize > form {
    width: 80%;
    padding: 20px; 
    box-shadow: 5px 5px rgb(143, 143, 187), 0px 0px rgb(110, 110, 150), 0px 0px white, 7px 7px white;
}

.form-personalize > form > div {
    margin: 10px; 
}

.form-personalize > form > div > Button {
    margin: 1px;
    padding: 10px;
    border-radius: 10px;
    color:white; 
    background: linear-gradient(rgb(129, 214, 243), rgb(41, 125, 158));
}

@media (max-width:1213px ) {
    .form-personalize > form{
        width: 70%;
        padding: 10px;
        /* border-bottom: 3px ;
        border-right: 3px;
        border: white solid 0 3px 3px 0; */
        box-shadow: 5px 5px rgb(143, 143, 187), 0px 0px rgb(110, 110, 150), 0px 0px white, 7px 7px white;
    }
}
@media (max-width:750px ) {
    .form-personalize > form{
        width: 60%;
        padding: 10px;
        /* border-bottom: 3px ;
        border-right: 3px;
        border: white solid 0 3px 3px 0; */
        box-shadow: 5px 5px rgb(143, 143, 187), 0px 0px rgb(110, 110, 150), 0px 0px white, 7px 7px white;
    }
}

@media (max-width:600px ) {
    .form-personalize > form{
        width: 100%;
        display: block;
        padding: 10px;
        /* border-bottom: 3px ;
        border-right: 3px;
        border: white solid 0 3px 3px 0; */
        box-shadow: 5px 5px rgb(143, 143, 187), 0px 0px rgb(110, 110, 150), 0px 0px white, 7px 7px white;
    }
}