.Site{
  position: absolute ;
  background-color:white;
  // padding-left: 2%;
  // padding-right: 2%;

    // width: 100% !important;
    // background-color: white;
    // background-image: url('../../Imagens/site.jpg');
  // background-position: center;
  top: 0 ;
  left: 0 ;
  min-height: 100%;
  min-width: 100% ;
  z-index: 1;

  // div{
  //   margin-left: 1% !important;
  //   margin-right: 1% !important;
  // }

    span{
          color:red ;
          font-weight: 600 ;
          font-size: 80px !important;
    }

      h1 {
      color:white ;
      font-weight: 600 ;
      font-size: 40px;
    }

  .SiteHeader{
    // margin-left: 3% !important;
    // margin-right: 3% !important;
    margin-top: 12px !important;
    padding-left: 15px;
    padding-right: 15px;
    // width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0 ;
    display: flex;
    justify-content: flex-end !important;
    flex-direction: row;
    background: radial-gradient(rgb(129, 214, 243), rgb(182, 186, 197));
    // background: CornflowerBlue;

    .anim-appear {
  opacity: 0.01;
}
 
.anim-appear.anim-appear-active{
  opacity: 2;
  transition: opacity 3s ease-in;
}
  }

  .Bheader{
      display: flex;
      align-items: center;
      width: 450px;
  }

  .Blogar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;


  .BlogarContato{
    background: white;
  }

   .BlogarPlanos{
        background: salmon;
   }
   Button{
          background: radial-gradient(rgb(129, 214, 243), rgb(182, 186, 197));
          border: 2px solid white;
          border-radius: 15px !important;
          font-size: 16px !important;
          background-color: transparentize($color: grey, $amount: 0);
          font-weight: bold;
          width: 150px;
          display: flex;
          justify-content: center;
   }
  }

    .SiteBody{
      margin-top: 12px !important;
      height: 100% !important;
      min-height: 100vh;
      width: 100% !important;

     }
}