/* Zerando Margin e Padding */
/* *{
    margin: 0;
    padding: 0;  
} */

/* Inserindo com no Body e colocando paddign para não ficar colado no visor */
/* body
{   
     background: radial-gradient(rgb(211, 217, 219), rgb(134, 168, 182));
     padding: 15px;
} */

/* Pintando SE do SEPLANEJE de vermelho */
.header-Cabecalho > h1 > span {
    color: red;
    font-size: 50px;
} 

/* Colocando o PLANEJE do SEPLANEJE de Branco*/
.header-Cabecalho > h1  {
    color:white;
} 


/*Header do Site*/
.header-Cabecalho{
    background: linear-gradient(rgb(129, 214, 243), rgb(41, 125, 158));
    border-radius: 25px 5px 25px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 5px 5px rgb(143, 143, 187), -5px -5px rgb(110, 110, 150), -7px -7px white, 7px 7px white;
}

.header-Cabecalho >  ul > li {
    display:inline-block;
    padding: 20px;
}
