
.homeLayoutFlex{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 15px !important;
}

.containerDiv1{
   width: '100%' !important;
}

.containerDiv1 .containerDivData{
   width: 100% !important;
}

.containerDiv1 h1{
 font-size: 16px;
 width: 100%;
 font-weight: bold;
 background: radial-gradient(#81d6f3, #b6bac5);
}

.containerDiv1 .containerDivDataTabResumo h1{
    background:#B0C4DE;
    font-size: 16px;
   //  color: blue;
    font-style: italic;
    font-weight: 100;
}

.containerDivDataTabResumo{
   display: grid ;
   grid-template-columns: repeat(3,3fr);
   grid-gap: 3px;
   background-color: white;
}


.containerDivDataTabResumo strong{
  display: flex;
  justify-content: center;
}

.containerDivDataTabResumo div li{
  display: flex;
  justify-content: center;
  background: LightCyan;
}

.containerSaldoPeriodo{
   margin-top: 15px !important;
   display: flex !important;
   flex-direction: row !important;
   justify-content: space-between !important;
   padding-left: 20px !important;
   padding-right: 20px !important;
   background-color: white;
}

.containerDivDataTab li {
   display: grid;
   background-color: #FFF;
   grid-template-columns: repeat(2,1fr);  
   grid-gap: 2px;
   border-bottom: 10px solid #F0F8FF	;
}

.containerDivDataTab li div {
   display: grid;
   grid-template-columns: repeat(4,1fr);  
   grid-gap: 10px;
}
.containerDivDataTab div strong{
   font-size: 16px;
   padding-left: 10px;
}

.containerDivDataTab div p{
   width: max-content;
   font-size: 14px !important;
   font-style: italic;
}

.percentuais{
   margin-top: 20px !important;

   li{
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between;
      padding-right: 40px;
      margin-bottom: 10px !important;
      background-color: white;
     align-items: center;
      strong{
         padding-left: 15px;
         font-size:16px ;
      }

      p{
         font-size: 24px;
      }
   }
}


@media (max-width:800px){
        .homeLayoutFlex{
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100% !important;
            display: grid;
            grid-template-columns: repeat(1,2fr);
            grid-gap: 15px !important;
        }
}