.ContainerHome{
    // padding-top: 30px;
    position: absolute;
    justify-content: center;
    width: 100% !important;
    // height: 100% !important;
    video{
        top: 0;
        left: 0;
       position: absolute;
       display: block;
       width: 100%;
    }
    // background-image: url('../../assets/site3.jpg');
    // background-image: url('../../assets/site1.png');
    // background-image: url('../../assets/site.png');
    // background-repeat: no-repeat;
    // background-position: top;
    // background-size: cover;
    // background: radial-gradient(rgb(129, 214, 243), rgb(182, 186, 197));
    // padding-left: 2%;
    // padding-right: 4%;
    
    .ContainerMarca{
        padding-left: 120px;
          h1{
              Span{
                  font-size: 120px !important;
              }
           font-size: 60px;
        }

        strong{
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            color: white;
        }
        .ListaSeplaneje{
            padding-top: 15px;
            li{
                padding-top: 8px;
                font-size: 18px;
                font-weight: bold;
                color: white;
                font-style: italic;
            }
        }
    }

        .Container1{
            display: flex;
            // background: green;
            justify-content: center;
                        height: 100% !important;


                        /* For demo */
.ant-carousel .slick-slide {
  text-align: center;
  height: 100%;
  line-height: 100%;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}


            .Container1_1{
                display: flex;
                // flex-direction: column;
                // align-items: center;
                width: 100%;
               
                
                strong{
                    font-size: 20px;
                    text-align: center;
                }

                p{
                    padding-top: 15px;
                    font-size: 18px;
                    font-style: italic;
                    text-align: right;
                    // border-bottom: 1px solid;
                }
            }
        
    
            .Container1_2{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                strong{
                    font-size: 20px;
                }
                    p{
                    padding-top: 15px;
                    text-align: center;
                    font-size: 18px;
                    font-style: italic;
                    // border-bottom: 1px solid;
                }
            }
        }
    
        .Container2{
            // background-color: transparentize($color: SkyBlue, $amount: 0.9);
            margin-top: 25px !important;
            display: flex;
            justify-content: space-between;
            height: 100% !important;
            // width: 100%;


            .Container2_1{
                width: 50%;
                 display: flex;;
                 align-items: center;
                 background-color: transparentize($color: SkyBlue, $amount: 0.9);
               
                 font-size: 25px;
                 text-align: center;
                 font-weight: bold;
                 align-items: center;
            }

             .Container2_2{
                 width: 50%;
                 display: flex;
                 background-color: transparentize($color: SkyBlue, $amount: 0.9);
                 justify-content: center;
                 align-items: center;  

                 img{
                    border-radius: 200px !important;
                 }
            }
        }

        .Container3{
            // background-color: transparentize($color: #DCDCDC, $amount: 0.9);
            margin-top: 25px !important;
            display: flex;
            justify-content: space-between;
            height: 100% !important;
            // width: 100%;


            .Container3_1{
                width: 50%;
                 display: flex;;
                 align-items: center;
                 background-color: transparentize($color: #DCDCDC, $amount: 0.9);
                 
                 font-size: 25px;
                 text-align: center;
                 font-weight: bold;
                 align-items: center;
            }

             .Container3_2{
                 width: 50%;
                 border-radius: 50px;
                 display: flex;
                 background-color: transparentize($color: #DCDCDC, $amount: 0.9);
                 justify-content: center;
                 align-items: center;  

                 img{
                    border-radius: 250px !important;
                 }
            }
        }

}


