// .ContainerResumo
.FilterVision{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    height: 30px !important;
    // color: #1890ff;
    color: white;
    font-size: 0px;
    font-weight: bold;
    background: #FA8072	 !important;
    border-color: #e8e8e8;
    border-bottom: 1px solid #fff;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    height: 30px ;
    margin: 0;
        color: white;
    font-size: 15px;
    margin-right: 2px;
    padding: 0 16px;
    line-height: 38px;
    background: #00BFFF	;
    border: 1px solid #e8e8e8;
    border-radius: 4px 4px 0 0;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.containerVision{
    width: 50%;
}

.ant-calendar {
    width: 100%;
}

.Label{
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid blue;
    padding-left: 15px;
}
// .FilterData
.ContainerTabs{
   height: 100%;
   width: 100%;
}


.homeLayoutFlex{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 15px !important;
}

.containerDiv1{
   width: '100%' !important;
}

.containerDiv1 .containerDivData{
   width: 100% !important;
}

.containerDiv1 h1{
 font-size: 16px;
 width: 100%;
 font-weight: bold;
 background: radial-gradient(#81d6f3, #b6bac5);
}

.containerDivDataTab li {
   display: grid;
   background-color: #FFF;
   grid-template-columns: repeat(2,1fr);  
   grid-gap: 2px;
   border-bottom: 10px solid #F0F8FF	;
}

.containerDivDataTab li div {
   display: grid;
   grid-template-columns: repeat(4,1fr);  
   grid-gap: 10px;
}
.containerDivDataTab div strong{
   font-size: 12px;
   padding-left: 10px;
}

.containerDivDataTab div p{
   width: max-content;
   font-size: 12px;
   font-style: italic;
}


@media (max-width:800px){
        .FilterVision{
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .containerVision{
            width: 100%;
        }   
        
        .Label{
            font-size: 14px;
            font-weight: bold;
            border-bottom: 1px solid blue;
            padding-left: 15px;
        }

        .homeLayoutFlex{
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100% !important;
            display: grid;
            grid-template-columns: repeat(1,2fr);
            grid-gap: 15px !important;
        }
}